<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ site.google_adsense }}"
     crossorigin="anonymous"></script>
<!-- Sidebar -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="{{ site.google_adsense }}"
     data-ad-slot="1221456799"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<div class="profile">
  <div class="sidebar-content-title">Profile</div>
  <img class="icon" src="{{ site.profile_icon | relative_url }}">
  <div class="username">{{ site.username }}</div>
  <div class="description">{{ site.profile }}</div>
</div>

<div class="topics siimple-grid">
  <div class="sidebar-content-title">Topics</div>
  <div class="topics-grid siimple-grid-row">
    {% for topic in page.topics %}
      <div class="topic-cell siimple-grid-col siimple-grid-col--6">
        <span class="topic siimple-tag siimple-tag--primary siimple-tag--rounded">{{ topic }}</span>
      </div>
    {% endfor %}
  </div>
</div>
