---
layout: default
---

<div class="siimple-grid-col siimple-grid-col--9 article">
  {{ content }}

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ site.google_adsense }}"
     crossorigin="anonymous"></script>
<!-- Article Bottom -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="{{ site.google_adsense }}"
     data-ad-slot="7439720096"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

<div class="siimple-grid-col siimple-grid-col--3 sidebar">
  {% include sidebar.html %}
</div>
